.mental-wellbeing{
    display: flex;
    flex-direction: column;
    gap: 100px;
    background: url('https://img.freepik.com/premium-photo/sahasrara-chakra-symbol-purple-background-this-is-seventh-chakra-also-called-crown-chakra_72967-796.jpg');
    background-repeat: repeat-y;
    background-size: 100% 200vh;

    h1 {
        text-align: center;
    }
   

    .videos-container {

        display: flex;
        min-width: 500px;
        justify-content: space-evenly;
        border: "1px solid red" !important;
    
       .video-card-container{
           margin: 20px;
           height: 250px;
           border-radius: 20px;

    
            iframe{
               display: block;
               height: 250px;
               border-radius: 20px;
            }

           
       }
    
    }
    
    .books-container{
        display: flex;
        min-width: 500px;
        justify-content: space-evenly;
        border: "1px solid red" !important;
    
    }
}

